<h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <div class="formContainer">
    <div class="formLabels">
      <label for="username">Username</label>
      <label for="password">Password</label>
    </div>

    <div class="formInput">
      <input id="username" type="text" name="username" placeholder="your name">
      <input id="password" type="password" name="password" placeholder="your password">
    </div>
  </div>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
 
  <button>login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>