<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <div class="formContainer">
    <div class="formLabels">
      <label for="username">Username</label>
      <label for="password">Password</label>
      <label for="email">Email</label>
    </div>
  
    <div class="formInput">
      <input id="username" type="text" name="username" placeholder="your username" required>
      <input id="password" type="password" name="password" placeholder="e.g CatIs~999" required>
      <input id="email" type="email" name="email" placeholder="your e-mail" required>
      <progress id="strength" max="100" value="0"></progress><span id="strong-or-weak"></span>
    </div>
  </div>

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <button id="signup" disabled>create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>

{{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>--}}
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script src="/javascripts/auth.js"></script>