<h1>Hello {{user.username}}</h1><br><br>

{{#each cinemas}}
<div>
  <div style="font-size:20px;">{{name}}</div>
  <button class="edit-cinema"><a href="/admin/edit-cinema/{{id}}">EDIT</a></button>
  <a href="/admin/add-screening/{{id}}/">create screening</a>
  </form>

</div><br>
{{/each}}

<hr>
<div>
  <button><a href="/admin/add-cinema">CREATE NEW CINEMA</a></button>
</div>


