<form id="add-cinema" action="/admin/add-cinema/" method="POST">
  <div>
    <h1>Add new cinema</h1>
  </div><br>
  <div>
    <h2>Name</h2>
    <label for="name">Cinema name</label>
    <input type="text" name="name" id="cinema-name"><br>
    <h2>Address</h2>
    <label for="street-name">Street name</label>
    <input type="text" name="streetName" id="street-name"><br>
    <label for="street-number">Street number</label>
    <input type="number" name="streetNumber" id="street-number"><br>
    <label for="postcode">Postcode</label>
    <input type="text" name="postcode" id="postcode"><br>
    <label for="owner">Owner</label>
    <input type="text" name="owner" id="owner"><br>
    <label for="city">City</label>
    <input type="text" name="city" id="city"><br>
    {{!--readonly element values are visible in req.body, but disabled elements not  --}}
    <label for="latitude">Latitude</label>
    <input type="text" name="latitude" id="latitude" placeholder="latitude" readonly="readonly">
    <label for="longitude">Longitude</label>
    <input type="text" name="longitude" id="longitude" placeholder="longitude" readonly="readonly">
  </div>

  <br>
  <div>
    <h2><b>Working days and hours</b></h2>
    <label><b>Week days:</b></label><br><br>
    from: <input type="time" name="timeWeekdaysStart" class="start-time"><span> -
    </span> <input type="time" name="timeWeekdaysEnd" class="end-time"><br><br>
    <label><b>Saturdays and Sundays:</b></label><br><br>
    from: <input type="time" name="timeWeekendStart" class="start-time" }><span> -
    </span><input type="time" name="timeWeekendEnd" class="end-time" }><br><br>
  </div>

  <div>
    <h2><b>Transport</b></h2>
    <h3>Transport with auto:</h3>
    <textarea name="auto" rows="10" cols="30">{{transport.auto}}</textarea><br>
    <h3>Public transport:</h3>
    <textarea name="publicTransport" rows="10" cols="30">{{transport.publicTransport}}</textarea><br>
  </div><br>

  <div id="add-room-container"><h2>Rooms</h2><div id="add-room">ADD ROOM</div></div>
  <div id="rooms">
    <div>
    </div>
  </div>
  <br>
  <button type="submit" value="ADD CINEMA">ADD CINEMA</button>
</form>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU5rvcQXc7XVrzrdK5CqbA7tKFNiLtt0Q"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/cinema-to-add.js"></script>