<p>Your current username is: <b>"{{user.username}}"</b></p>

<form action="/profile/edit/username" method="POST" id="form-container"> 
<label for="username">New username</label>
<input id="username" type="text" name="username" value={{user.username}} required>

{{#if message }}
<div class="error-message">{{ message }}</div>
{{/if}}

<button>Confirm change</button>
</form>