<h2>What would you like to edit?</h2>
<p><a href="/profile/edit/username">Edit username</a></p>
<p><a href="/profile/edit/password">Edit password</a></p>
<p><a href="/profile/edit/email">Edit e-mail</a></p>