<h2>Set a new password</h2>

<form action="/profile/edit/password" method="POST" id="form-container"> 

<label for="password">Current password</label>
<input id="password" type="text" name="password" required>

<label for="new-password">New password</label>
<input id="new-password" type="text" name="newPassword" required>

{{#if message }}
<div class="error-message">{{ message }}</div>
{{/if}}

<button>Confirm change</button>
</form>