<p>Your current e-mail is: <b>"{{user.email}}"</b></p>

<form action="/profile/edit/email" method="POST" id="form-container">
  <div class="formContainer">
    <div class="formLabels">
      <label for="email">New e-mail</label>
    </div>

    <div class="formInput">
      <input id="email" type="email" name="email" value={{user.email}} required>
    </div>
  </div>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Confirm change</button>
</form>