<h2>Set a new password</h2>

<form action="/profile/edit/password" method="POST" id="form-container">
  <div class="formContainer">
    <div class="formLabels">
      <label for="password">Current password</label>
      <label for="new-password">New password</label>
    </div>

    <div class="formInput">
      <input id="password" type="password" name="password" required>
      <input id="new-password" type="password" name="newPassword" required>
      <progress id="strength" max="100" value="0"></progress><span id="strong-or-weak"></span>
    </div>

  </div>

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <button id="changePassword" disabled>Confirm change</button>
</form>

{{!-- tippy.js scripts starts --}}
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
{{!-- tippy.js scripts starts --}}
<script src="/javascripts/edit-password.js"></script>