Hi {{username}}!

<p></p><a href="/profile/edit">Edit profile</a></p>
<p></p><a href="/profile/tickets">Ticket overview</a></p>

<p>The last movie you saw was [[MOVIE]], we hope you liked it!</p>
[[MOVIE IMG]]
