<h2>Hi {{user.username}}!</h2>

<button><a href="/profile/edit">Edit profile</a></button>
<button><a href="/profile/tickets">Ticket overview</a></button>

{{!-- <form action="/profile/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="profile-image"><br><br>
  <button type="submit" name="submit-profile-image">Upload picture</button>
</form> --}}

<p>The last movie you saw was [[MOVIE]], we hope you liked it!</p>
[[MOVIE IMG]]
