<div id="info">
  <div id="movie-name"></div>
  <div id="place-time-info"><span id="cinema-name"> </span><span id="room-name"> | </span><span id="time"> | </span>
  </div>
  <div id="cinema-name"></div>
  <div id="movie-time"></div>
</div>

<div id="tickets-container">
  <div id="chairs">
  </div>
  <div id="reservation">
    <h2>Your order - <span id="number-of-tickets">0</span> ticket(s)</h2>
    <div id="selected-seats"></div><br/>
    <div><span class="price">Total price: </span><span id='total-price' class="price">0</span><span class="price">eur</span></div><br/>
    <div><button id="book-movie" type="submit">make reservation</button></div>
  </div>
</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/ticket-reservation.js"></script>