{{!-- <div class="datePickerContainer">
  {{#each datePicker}}
  <span class="screeningDatePick">
    <a href=".?date={{formatDate this}}">{{formatDate this}}</a>
  </span>
  {{/each}}
</div> --}}
<h2>{{cinema.name}} - {{cinema.address.city}}</h2>

<div id="datePickerContainer"></div> 
{{!-- <select name="filterMovie" id="filterMovie">
  <option value="">All</option>
  <option value="5cb8c7c63c22b504d04b9b2a">Captain Marvel</option>
</select> --}}
<div id="screeningContainer"></div>
 

<script src="../javascripts/moment.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../javascripts/screening-overview.js"></script>
