 
<h2>{{cinema.name}} - {{cinema.address.city}}</h2>

<div id="datePickerContainer"></div> 
<div id="datePickerContainer-mobile-div">
  <label for="">Pick a date: </label>
  <select id="datePickerContainer-mobile"></select>
</div> 
 
<div id="screeningContainer"></div>
 

<script src="../javascripts/moment.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../javascripts/screening-overview.js"></script>
