<h2>What about us?</h2>
<p>This website is made and maintained by JFCinema, owned by Jelena and Fedde</p>

<h3>Our favorite movies?</h3>
<p>Fedde: Hard to tell.. there are so many. Lately I enjoyed the green book. As a child the Lion King was always on</p>
<p>Jelena: Probably something romantic like the Titanic or Avatar</p>

<h3>Which movies do you screen?</h3>
<p>Those we like! Can be new as well as old ones</p>

<h3>Questions?</h3>
<p>Please contact us at JFCinema2019@gmail.com</p>