<h1>JFCinema</h1>

{{!-- GlideJS. Class has to be .glide --}}
<h2>Current movies</h2>
<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides"> 
      {{#each movies}}
      <li class="glide__slide"><a href="/movie/{{_id}}"><img src="{{imageUrl}}" alt="{{title}}"></a></li>
      {{/each}}
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
  </div>
</div>

{{!-- For the library glide --}}
<link rel="stylesheet" href="/stylesheets/glide.core.css">
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/javascripts/homepage.js"></script>