body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error-message { 
  background-color: rgb(233, 122, 122);
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
}