* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

body {
  padding: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #272727;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative; }

.body-content {
  min-height: calc(95vh - 100px);
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 30px; }

a,
p,
h4,
h5,
h6,
li {
  color: white; }

h1, h3 {
  color: #FE4A28;
  margin-bottom: 10px; }

h2 {
  color: #B5E5BF;
  margin-top: 10px; }

nav {
  margin-bottom: 10px; }

nav a {
  margin-right: 5px;
  font-size: 120%;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px; }

button a {
  text-decoration: none; }

button {
  padding: 10px;
  background-color: #FE4A28;
  border: 1px solid black;
  color: white; }

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }

.header-authentication {
  margin-bottom: 10px;
  color: #FE4A28; }

.header-authentication a {
  text-decoration: none; }

.header-menu {
  display: flex;
  margin-bottom: 20px; }

.header-menu a {
  background-color: white;
  color: black; }

.header-menu-mobile {
  display: none; }

.header-menu-mobile a {
  margin: 0; }

.header-menu-mobile a:hover {
  background-color: #FE4A28; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FE4A28;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0; }

footer span, .header-authentication span {
  margin: 0px 5px; }

footer a {
  text-decoration: none; }

footer a img {
  width: 16px; }

.error-message {
  background-color: #e97a7a;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0; }

.message-pos {
  background-color: #B5E5BF;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
  color: black; }

.movie-overview-container {
  display: flex;
  flex-wrap: wrap; }

.movie-overview {
  display: flex;
  margin: 10px 10px 0;
  background-color: black; }

.movie-overview-text {
  width: 200px;
  margin: 0 20px; }

.movie-overview-button-mobile {
  display: none; }

.movie-details-container {
  display: flex;
  justify-content: space-between; }

.movie-details-text {
  max-width: 450px;
  margin-right: 20px; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#datePickerContainer {
  margin-bottom: 20px; }

#datePickerContainer-mobile-div {
  display: none; }

.screeningDatePick {
  margin: 5px;
  padding: 5px;
  background-color: #0f5e0f;
  color: white;
  border-radius: 5px;
  display: inline-block; }

.screening-poster {
  max-height: 250px;
  max-width: 150px; }

#screeningContainer {
  display: flex;
  flex-wrap: wrap; }

.movieTimesContainer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 10px;
  margin: 0px 5px 10px; }

.movieTimesTimes {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  max-width: 150px; }

a.buttonTime {
  float: left;
  background-color: #FE4A28;
  padding: 5px 15px;
  margin: 5px;
  text-decoration: none; }

a.buttonTime:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(253, 253, 253, 0.19); }

#tickets-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 20px;
  background-color: black; }

#movie-img {
  width: 300px;
  height: auto; }

#chairs {
  display: flex;
  flex-direction: column;
  margin-right: 20px; }

.row {
  display: flex;
  margin: 0 auto; }

.col {
  width: 30px;
  height: 30px;
  border: 2px solid white; }

.true {
  background-color: #CCD4E1; }

.false {
  background-color: #FE4A28; }

.selected {
  background-color: #33df55; }

.booked {
  background-color: #FE4A28; }

#info {
  display: flex;
  flex-direction: column;
  align-items: center; }

#screen {
  height: 20px;
  width: 200px;
  background-color: #B5E5BF;
  margin: 20px auto;
  color: black;
  font-weight: bold;
  text-align: center; }

#legend {
  margin-left: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between; }

.legend-cube {
  width: 20px;
  height: 20px; }

#green {
  background-color: #CCD4E1; }

#blue {
  background-color: #33df55; }

#red {
  background-color: #FE4A28; }

#reservation {
  margin-top: 40px;
  margin-left: 10px;
  display: flex;
  flex-direction: column; }

#book-movie {
  margin-top: 20px; }

.cinema-overview-container {
  margin: 30px 0; }

.cinema-overview-address {
  margin-top: 0; }

.cinema-overview-container h2 {
  margin-bottom: 0px; }

#map {
  width: 100%;
  height: 500px;
  margin: 20px 0; }

.formContainer {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px; }

label, input {
  display: block;
  margin: 5px 0; }

label {
  margin-right: 10px; }

.admin-input {
  display: inline; }

::placeholder {
  color: #afaeae; }

@media screen and (min-width: 701px) {
  header {
    align-items: center; } }

@media screen and (min-width: 601px) and (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column; }
  .header-authentication {
    align-self: flex-end; } }

@media screen and (min-width: 601px) and (max-width: 870px) {
  .screening-poster {
    max-width: 100px; } }

@media screen and (min-width: 800px) {
  .col {
    width: 40px;
    height: 40px; }
  #tickets-container {
    justify-content: space-around; } }

@media screen and (min-width: 1000px) {
  .header-authentication a {
    font-size: 130%; }
  footer a {
    font-size: 130%; }
  .video-container iframe {
    width: 70%;
    height: 70%; } }

@media screen and (max-width: 600px) {
  header {
    flex-direction: column; }
  body {
    padding: 20px; }
  .header-authentication {
    align-self: flex-end; }
  .header-menu {
    display: none; }
  .header-menu-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #CCD4E1;
    margin-bottom: 10px; }
  nav a {
    border: none; }
  .glide__arrows {
    display: none; }
  .movie-overview {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0; }
  .movie-overview-poster {
    margin: auto; }
  .movie-overview-text {
    display: none; }
  .movie-overview-button-mobile {
    display: inline-block;
    width: 150px;
    margin: auto; }
  .movie-details-poster {
    display: none; }
  #map {
    height: 200px; }
  #datePickerContainer {
    display: none; }
  #datePickerContainer-mobile-div {
    display: block;
    margin-bottom: 20px; }
  .screening-poster {
    max-width: 100px; }
  .movieTimesTimes h3 {
    display: none; }
  .movieTimesTimes {
    margin: auto 0; }
  .movieTimesContainer {
    width: 100%; }
  #tickets-container {
    flex-direction: column; }
  #chairs {
    width: 100%;
    height: auto; }
  #reservation h2 {
    margin: 20px 0 10px 0; }
  .row {
    justify-content: center; } }

/*# sourceMappingURL=style.css.map */