{{#each cinemas}}
  <div class="cinema-overview-container">
    <h2>{{name}}</h2>
    {{!-- <p>@ {{address.city}}</p>  --}}
    <p><a href="/cinema/{{_id}}">More information</a></p>
    <button><a href="/screening/{{id}}">Book tickets!</a></button>
  </div>
{{/each}}
